.intro {
    background-image: url("img/kart.webp");
    background-repeat: no-repeat;
    background-position: center;
    height: 55vh;
    text-align: center;
    padding: 2vh;
}
.intro h2{
    font-size:xxx-large;
}
.intro h2{
  font-size:xx-large;
}
.intro:hover {
    background-color: #9E9E9E;
    opacity: 0.5;
    animation: temblor 0.5ms infinite alternate;
}
/*Crear un efecto para intro donde tiemble para que sea la sensación de cuando arrancas uno*/
@keyframes temblor {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1.5px, -1.5px);
  }
}

.info {
    background-color: #1e1e1e;
    color: #f8f8f8;
    padding: 2%;
    text-align: center;
}
.info h2{
    font-size: 35px;
}
.tarjetaPadre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
 }

 /* CSS de Kart*/
  .tarjeta {
    background-color: #fff;
    border: 3px solid black;
    position: relative;
    border-radius: 8px;
    margin: 15px;
    width: 15rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
 }
 .tarjeta img{
    width: 100%;
    border-radius: 8px;
 } 
 .tarjeta i{
    background-color: white;
    border:2px solid black;
    border-radius: 50px;
    justify-content:end;
    padding: 2%;
    margin: 2%;
 }
 .tarjeta i:hover{
    color: red;
 }
 .tarjeta i:active{
  transform: scale(0.9);

}
 .tarjeta:hover {
    transform: scale(1.05);
    background-color: #9E9E9E;
    border-bottom-right-radius: 8px;
    border-color: #cccccc red red #cccccc;
 }

