.info {
    background-color: #1e1e1e;
    color: #f8f8f8;
    padding: 2%;
    text-align: center;
}
.info h2{
    font-size: 35px;
}
span{
   display: block;
   white-space: nowrap;
   width: 100%;

   animation: typing 2s steps(25), blink .5s infinite step-end alternate
   ;overflow: hidden;
}
@keyframes typing{
   from{width: 0;}
}

@keyframes blink{
   50%{border-color: transparent;}
}
.circuitos h2{
    text-align: center;
    margin: 2%;
    font-size: 30px;
}
.circuitos{
    margin: 2%;

}.pistas{
    display: flex;
    justify-content: space-evenly;
}
.pistas img{
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;    
    width: 40%;
}
.pistas img:hover{
    transform: scale(1.05);
    border-color: #EE0000;
}
#carrusel {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;

 }
 
 .carruselContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
 }
 
 .carrusel-item {
    min-width: 100%;
    box-sizing: border-box;
 }
 
 .carrusel-item img {
    width: 100%;
    display: block;
 }
 
 .carrusel-navegacion {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
 }
 
 .nav-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
 }
 
 .nav-button:hover {
    border: 3px solid black;
    background-color: #f8f8f8;
    color: black;
 }
 #karts{
    background-color: #1e1e1e;
    padding: 2%;
    color: #f8f8f8;
    background-size: 150px;
    background-size: 100%;
    text-align: center;
    font-size: 35px;
 }
 #parrafoKarts{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
 }
 .productos {
   background-color: #fff;
   border: 1px solid #cccccc;
   position: relative;
   border-radius: 8px;
   border-bottom-left-radius: 2px solid red;
   margin: 15px;
   padding: 15px;
   width: 40%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
}
.productos img{
   width: 100%;
   border-radius: 8px;
}
.productos h2{
   color: #f8f8f8;
   background-color: #EE0000;
   padding: 1vh;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.productos:hover {
   transform: scale(1.05);
   border-bottom-right-radius: 8px;
   border-color: #cccccc red red #cccccc;
}

.productos h2 {
   color: #1e1e1e;
}

.productos2 {
   background-image: url(img/chasis.webp);
   border: 1px solid #cccccc;
   border-radius: 8px;
   border-bottom-left-radius: 2px solid red;
   margin: 15px;
   padding: 15px;
   width: 40%;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease-in-out;
}