
.info {
    background-color: #1e1e1e;
    color: #f8f8f8;
    padding: 2%;
    text-align: center;
}
.info h2{
    font-size: 35px;
}
.circuitos h2{
    text-align: center;
    margin: 2%;
    font-size: 30px;
}
.circuitos{
    margin: 2%;

}.pistas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pistas span{
   text-align: center;
   font-size: x-large;
   color: #f8f8f8;
   background-color: #EE0000;
   border-radius: 4px;
}
#Rozas{
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 75vh;
    height: 45vh;
    background-image: url("img/LasRozas.webp");
    background-size: cover;
    transition: transform 0.3s ease-in-out;    
}
/* Animacion para al pasar por el circuito de Las Rozas pase de una imagen a un gif de como se vive el circuito*/
#Rozas:hover{
   transform: scale(1.05);
   border-color: #EE0000;
   background-image: url("img/Rozas.gif");
   background-size: cover;

}

#Madrid{
   border: 3px solid black;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;    
   width: 75vh;
   height: 45vh;
   background-image: url("img/Madrid.webp");
   background-size: cover;
}
/* Animacion para al pasar por el circuito de Madrid pase de una imagen a un gif de como se vive el circuito*/
#Madrid:hover{
   transform: scale(1.05);
   border-color: #EE0000;
   background-image: url("img/Madrid.gif");
   background-size: cover;

}
#carrusel {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;

 }
 
 .carruselContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
 }
 
 .carrusel-item {
    min-width: 100%;
    box-sizing: border-box;
 }
 
 .carrusel-item img {
    width: 100%;
    display: block;
 }
 
 .carrusel-navegacion {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -50px;
 }
 
 .nav-button {
    background-color: black;
    color: white;
    border: none;
    padding: 1.75vh 1.75vh;
    cursor: pointer;
    border-radius: 5px;
 }
 
 .nav-button:hover {
    border: 3px solid black;
    background-color: #f8f8f8;
    color: black;
 }
.venta{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
 .productos {
   background-color: #fff;
   border: 3px solid black;
   position: relative;
   border-radius: 8px;
   margin: 15px;
   width: 75vh;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;
}
.productos img{
   width: 100%;
   border-radius: 8px;
}
.productos h2{
   color: #f8f8f8;
   background-color: #EE0000;
   font-size: x-large;
   padding: 0.6vh;
   text-align: center;
   border-radius: 8px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.productos:hover {
   transform: scale(1.05);
   border-bottom-right-radius: 8px;
   border-color: #cccccc red red #cccccc;
}