body{
	background-color: black;
}

#video{
	width: 100%;
	height: 45%;
	top: 0%;
	left: 0%;
	position: relative;
	overflow: hidden;
	z-index: -1;
	text-align: center;
	border: 2px solid white;

}
#contentv{
	background-color: white;
	padding: 10px;
	left: 30%;
	width: 40%;
	border-radius: 10px;
	position: relative;
	bottom: 33vh;
	text-align: center;
	color:black;
	font-size:xx-large;

}
#enlace{
	position: relative;
	left: 40.5%;
	float: top;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	align-items: center;
	background-color: red;
	width: 20%;
	border: 2px solid black ;
	border-radius: 10px;
}
#Datos{
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	position: relative;
	bottom: 10vh;
	color: white;
}

#Productos{
	position: relative;
	left: 150px;
	bottom: 30px;
	padding: 20px;
	background-color: white;
	width: 35%;
	border: 2px solid white;
	text-align: center;
	border-radius: 10px;
}
#imgProd{
	left: 20%;
}
#enl1{
	position: relative;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	align-items: center;
	background-color:body;
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
}
#cabecera{
	width: 100% vw;
	float: top
}
#video{
	width: 100%;
	height: 45%;
	top: 0%;
	left: 0%;
	position: relative;
	overflow: hidden;
	z-index: -1;
	text-align: center;
	border: 2px solid  #f8f8f8;

}
#contentv{
	background-color: white;
	padding: 10px;
	left: 30%;
	width: 40%;
	border-radius: 10px;
	position: relative;
	bottom: 33vh;
	text-align: center;
	color:black;
	font-size:xx-large;

}
#enlace{
	position: relative;
	left: 40.5%;
	float: top;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	align-items: center;
	background-color: red;
	width: 20%;
	border: 2px solid black ;
	border-radius: 10px;
}
#titulo{
	color: white;
	background-color: black;
	padding: 20px;
	font-size:xx-large;
}
#Datos{
	padding: 5px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	position: relative;
	bottom: 10vh;
	color: white;
}

.venta{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
 }
  .productos {
	background-color: #fff;
	border: 3px solid red;
	position: relative;
	border-radius: 8px;
	margin: 15px;
	width: 75vh;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
 }
 .productos img{
	width: 100%;
	border-radius: 8px;
 }
 .productos h2{
	color: #f8f8f8;
	background-color: #EE0000;
	font-size: x-large;
	padding: 0.6vh;
	text-align: center;
	border-radius: 8px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 