.info {
   background-color: #1e1e1e;
   color: #f8f8f8;
   padding: 2%;
   text-align: center;
}
.info h2{
   font-size: 35px;
}
.circuitos h2{
   text-align: center;
   margin: 2%;
   font-size: 30px;
}
.circuitos{
   margin: 2%;

}.pistas{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.pistas span{
  text-align: center;
  font-weight: normal;
  color: #f8f8f8;
  background-color: #EE0000;
  border-radius: 4px;
}
#Rozas {
   border: 3px solid black;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
   transition: transform 0.3s ease-in-out;    
   width: 75vh;
   height: 45vh;
   background-image: url("img/LasRozas.png");
   background-size: cover;
   position: relative;
}

#Rozas::after {
   content: "En Las Rozas, nuestro circuito para principiantes ofrece curvas amplias y zonas de  escape seguras para una emocionante experiencia inicial.";
   position: relative;
   bottom: 10px; 
   top: 190px;
   left: 50%; 
   transform: translateX(-50%);
   background-color: rgba(255, 0, 0, 0.6); 
   padding: 5px 10px;
   border-radius: 10px;
   display: none;
   text-align: center;
}

#Rozas:hover::after {
   display: block;

}#Rozas:hover{
   transform: scale(1.05);
   border-color: #EE0000;
   background-image: url("img/Diseño\ sin\ título.gif");
   background-size: cover;

}



#Madrid {
   border: 3px solid black;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
   transition: transform 0.3s ease-in-out;    
   width: 75vh;
   height: 45vh;
   background-image: url("img/Madrid.png");
   background-size: cover;
   position: relative;
}

#Madrid::after {
   content: "En La Ermita, nuestros circuitos de karting para experimentados ofrece desafienates curvas y emocionantes oportunidades para demostrar habilidades avanzadas.";
   position: relative;
   bottom: 10px;
   top: 190px; 
   left: 50%; 
   transform: translateX(-50%);
   background-color: rgba(255, 0, 0, 0.6); 
   padding: 5px 10px;
   border-radius: 8px;
   display: none; 
   text-align: center;

}

#Madrid:hover::after {
   display: block;

}#Madrid:hover{
   transform: scale(1.05);
   border-color: #EE0000;
   background-image: url("img/Diseño\ sin\ título.gif");
   background-size: cover;

}
#Madrid:visited{
  transform: scale(3.05);

}
#mapa{
     border: 3px solid black;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
     width: 100vh;
     padding-bottom: 2%;
     background-size: cover;
     transition: transform 0.3s ease-in-out; 
     margin-top: 10px;
     margin-bottom: 10px;   

}
.Opciones{
  text-align: center;
}
#IframeRozas{
size: cover;
display: none;
height: 94%;
width: 100%;
position: absolute;
border-radius: 8px;
}
#IframeMadrid{
size: cover;
display: none;
height: 94%;
width: 100%;
position: absolute;
border-radius: 8px;
}