.info {
   background-color: #1e1e1e;
   color: #f8f8f8;
   padding: 2%;
   text-align: center;
}
.info h2{
   font-size: 35px;
}
.circuitos h2{
   text-align: center;
   margin: 2%;
   font-size: 30px;
}
.circuitos{
   margin: 2%;

}.pistas{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.pistas span{
  text-align: center;
  font-weight: normal;
  color: #f8f8f8;
  background-color: #EE0000;
  border-radius: 4px;
}

#mapa{
     border: 3px solid black;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
     width: 200vh;
     padding-bottom: 2%;
     background-size: cover;
     transition: transform 0.3s ease-in-out; 
     margin-top: 15px;
     margin-bottom: 10px;

}
.Opciones{

  justify-content: space-around;


}
.Caja1{
align-self: left;
display: inline-block;
margin-left: 30%;
border: 3px solid black;
border-radius: 8px;
margin-top: 5px;

}.Caja2{
align-items: right;
display: inline-block;
margin-left: 10%;
border: 3px solid black;
border-radius: 8px;
}
#imagenContenedor{
size: cover;

}

iframe{
   border: 2px solid black; 
   border-radius: 8px;
   transition: transform 0.3s ease-in-out;
}

iframe:hover{
   border-color: red;
   transform: scale(1.05);
}
.contenedor2{
   width: 60vh;
   text-align: left;
}
.contenedor{
   display: flex; 
   flex-direction: row; 
   justify-content: space-around; 
   margin: 2%;
}

.album {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   width: 95%;
   margin: 10px;
   padding: 20px;
   border: 1px solid #1e1e1e;
   border-radius: 5px;
   transition: transform 0.3s ease-in-out;
}


.album img {
   display: flex;
   flex-direction: row;
   width: 600px;
   height: 430px;
}

.album img{
   width: 0px;
   flex-grow: 1;
   object-fit: cover;
   opacity: .8;
   transition:  .5s ease;
}

.album img:hover{
   cursor: crosshair;
   width: 300px;
   opacity: 1;
   filter: contrast(120%);
}
#spanloca{

   padding: 1.5vh;
}