body{
    background-image: url(/ZoomKarting/reservar/img/carlos-sainz-karting.jpg);
    backdrop-filter: blur(6px);
    
}
#ini{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
}
#nom1{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    
}
#eventos{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    display: flex;

}
.cajaeve{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    justify-content: end;
    width: 30%;
    height: 200px;
    background-image: url(./img//IMG_7839-2-1920x900.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
#boton{
    text-align: left;
    margin-top: 160px;
    

}
#nom2{
    
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    
}
#indiv{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    display: flex;
}

.cajain{
    border: 3px solid black;
    margin: 2%;
    text-align: center;
    width: 50%;
    height: 200px;
}



