.reservas{
    margin: 2%;
    display: flex;
    flex-direction: column;
}
.reservas img{
    width: 80%;
    margin: 2%;
}
.eventos{
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;

}
.tandas{
    border: 2px solid black;
    border-radius: 8px;  
}
#prueba{
    display: inline-flex;
}
